<html>
    <body>
        <h1>About policy</h1>
        <hr>
        <br>
        <p id="p1"><img src="assets\images\sim.jpg" id="m1">A travel policy is essentially a company’s rules and procedures that outline how their employees should approve, book, and expense travel for business purposes. Corporate travel policies are usually created by the Finance Manager and the Travel Manager and typically outline things like, if an employee can fly business class, how many weeks or business days in advance should they book their trips, or if there are certain precautions employees must take when traveling alone.<br>
            Secondly, be clear about which incidentals can be reimbursed. These can range from room service and dry-cleaning/laundry services to valet parking and the use of hotel amenities (gym, swimming pool, sauna, etc).  

            Bear in mind that hotel rates are subject to both seasonal fluctuations and locations, so you’ll need to be mindful of any nuances depending on the time of year and employees’ destinations. For these reasons, many organizations prefer to partner with specific suppliers and negotiate travel packages and require their employees to use these suppliers wherever possible.</p>
        <div id="p2">
            A comprehensive travel policy would normally pertain to both international and domestic travel, and have information about the following:
            <ul>
                <li>Booking procedure and approved travel booking tool
                </li>
                <li>Allowable cost of booking (hotels, airfare, ground transportation)
                </li>
                <li>Special exceptions or rules for more expensive cities or routes
                </li>
                <li>Approval process for trips that exceed typical limitations
                </li>
            </ul>
        </div>
    </body>
</html>