<html>
    <body>
         <div class="d1">
             <img class="i2" src="assets\images\image21.jpg">
             <img class="i3" src="assets\images\image18.jpg">
             <img class="i4" src="assets\images\image19.jpg">
             <p class="p1">Manager</p>
             <p class="p2">Guide</p>
             <p class="p3">OWNER</p>
         </div>
         <div class="d2">
                  CONTACT
         </div>
         <div class="d3">
               <img class="i1" src="assets\images\IT.jpg">
               <p style="text-align: center; color: seashell;" class="p5">THANK FOR YOUR VISIT</p>
         </div>
    </body>
</html>
