<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
    <script src="https://kit.fontawesome.com/f377f4f9d5.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css" integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> 
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <style>
        body{
            width: 100%;
            height: 600px;
    background-image:url("assets/images/image16.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
    </style>
</head>
<body>

  
  <div class="intro">
    <H1 id="hed">WELCOME</H1><br>
    <h2 id="hed1">TAMIL NADU TOURISM</h2>
</div>
<div>
    <pre id="para">In this webpage you will Know about <span id="s">TAMIL NADU TOURISM</span>,
               you can click visit to go to main page.
            We are responsible for your safety journey.
    </pre>
</div>
<div id="butt">
    <a href="#" target="_blank">
        <button type="button" style="width:100px;height:30px" id="b4"> VISIT </button>
    </a>
</div>
<div id="imga">
    <a href="#" target="_blank">
        <img src="assets\images\image22.png" style="width:200px" id="im1">
    </a> 
</div>
<p id="pro"> PROFILE</p>
</body>
</html>